name: Deploy to EC2

on:
  push:
    branches:
      - main  # main 브랜치에 푸시 시 자동 실행

jobs:
  deploy:
    runs-on: ubuntu-latest  # 어떤 OS에서 실행할지 설정

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}  # GitHub Secrets에서 SSH 키를 불러옵니다

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_PUBLIC_IP }} \
            "cd /home/ubuntu/airlock && git pull && npm install && npm run build"
